<section class="content GM2GB">
    <app-gm2gb></app-gm2gb>
</section>

<!-- ARMES ET VÉHICULES -->
<section class="content GM2WV">
    <app-gm2wv></app-gm2wv>
</section>

<!-- RÉSISTANCE -->
<section class="content GM2R">
    <app-gm2r></app-gm2r>
</section>

<!-- PROPAGANDES -->
<section class="content GM2P">
    <app-gm2p></app-gm2p>
</section>

<!-- CRIME DE GUERRE -->
<section class="content GM2CG">
    <app-gm2cg></app-gm2cg>
</section>

<!-- HEROS DE GUERRE -->
<section class="content GM2HG">
    <app-gm2hg></app-gm2hg>
</section>