<section class="header">
  <div  class="head">
    <div class="logo">
      <a href="../home"><img class="imgLogo" src="../../assets/image-site/testhistorika.png" alt="logo historika"></a>
    </div>
    <div  class="menu">
      <div class="blockMenu">
        <p>- MENU -</p> 
      </div>
      <div class="blockMenuClose">
          <p>- CLOSE -</p> 
        </div>
    </div>
  </div>
  <section class="block">
    <div class="nav">
        <a class="a" href="../home"><h4>Accueil</h4></a>
        <h4 class="navigation x" routerLink="../nouvelle-article">Nouvelle article</h4>
        <h4 class="navigation" routerLink="../article">Articles</h4>
        <h4 class="navigation" routerLink="../contact">Contact</h4>
    </div>
  </section>
</section>

<section class="headerBis">
</section>