
  <div  class="left">
    <div class="content">
      <div class="title WW1">
          <h3>1ére GM</h3>
      </div>
      <div class="title WW2">
          <h3>2éme GM</h3>
      </div>
      <div class="title ColdWar">
          <h3>Guerre Froide</h3>
      </div>
      <div class="title World">
          <h3>Monde</h3>
      </div>
     
    </div>
  </div>
<div class="test">
  <div class="menuLeftGM1">
    <div class="width">
        <div class="nav GBGM1">
            <i class="fas fa-binoculars"></i><h3>Grande Bataille</h3>
        </div>
        <div class="nav WVGM1">
            <i class="fas fa-fighter-jet"></i><h3>Armes et véhicules</h3>
        </div>
        <div class="nav CGGM1">
            <i class="fas fa-skull"></i><h3>Crime de Guerre</h3>
        </div>
        <div class="nav HGGM1">
            <i class="fas fa-medal"></i><h3>Héros de Guerre</h3>
        </div>
    </div>
  </div>
  <div class="menuLeftGM2">
    <div class="width">
        <div class="nav GBGM2">
            <i class="fas fa-binoculars"></i><h3>Grande Bataille</h3>
        </div>
        <div class="nav WVGM2">
            <i class="fas fa-fighter-jet"></i><h3>Armes et véhicules</h3>
        </div>
        <div class="nav RGM2">
            <i class="fas fa-fist-raised"></i><h3>Résistances</h3>
        </div>
        <div class="nav PGM2">
            <i class="fas fa-newspaper"></i><h3>Propagande</h3>
        </div>
        <div class="nav CGGM2">
            <i class="fas fa-skull"></i><h3>Crime de Guerre</h3>
        </div>
        <div class="nav HGGM2">
            <i class="fas fa-medal"></i><h3>Héros de Guerre</h3>
        </div>
    </div>
  </div>
  <div class="menuLeftGuerreFroide">
    <div class="width">
        <div class="nav GBGF">
            <i class="fas fa-binoculars"></i><h3>Grand Conflits</h3>
        </div>
        <div class="nav WVGF">
            <i class="fas fa-fighter-jet"></i><h3>Armes et véhicules</h3>
        </div>
        <div class="nav PGF">
            <i class="fas fa-newspaper"></i><h3>Propagande</h3>
        </div>
        <div class="nav CSGF">
            <i class="fas fa-space-shuttle"></i><h3>Course Spatiale</h3>
        </div>
        <div class="nav CIAGF">
                <i class="fas fa-user-secret"></i><h3>CIA vs KGB</h3>
        </div>
    </div>
  </div>
  <div class="menuLeft">
    <div class="width">
      <div class="nav EUROPA">
          <h3>Europe</h3>
      </div>
      <div class="nav ASIA">
          <h3>Asie</h3>
      </div>
      <div class="nav OCEANIA">
          <h3>Oceanie</h3>
      </div>
      <div class="nav ORIENT">
          <h3>Orient</h3>
      </div>
      <div class="nav AFRIKA">
          <h3>Afrique</h3>
      </div>
      <div class="nav NAMERIKA">
          <h3>Amérique du Nord</h3>
      </div>
      <div class="nav SAMERIKA">
          <h3>Amérique du Sud</h3>
      </div>
      </div>
  </div>
  <div class="right"> 
       <div class="titre"><h1>Articles</h1></div>
        <app-article-view></app-article-view>
      </div>
      <section class="remplissage"></section>
      <section class="back"></section>
      <app-footer></app-footer>
</div>




