.back{
    height: 100vh;
    position: fixed;
    top: 0;
    background: url(../../assets/image-site/fond.jpg);
    background-size: cover;
    -webkit-animation: fondu 2s linear;
    animation: fondu 2s linear;
    width: 100%;
    z-index: -10;
  }
.left{
    background: white;
}
.content{
    display: flex;
    align-items: center;
    color: #BB7654;
    font-family: "Oswald";
}
.title{
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
}
.nav{
    padding: 16px;
}
.container{
    z-index: -10;
    left: -25%;
    position: relative;
    float: left;
    width: 25%;
    height: 100vh;
    background: red;
}
.menuLeft{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background: #BB7654;
    color: white;
    top: 0%;
    left: 100%;
    position: absolute;
    width: 26%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Oswald';
    transition: 0.5s;
}
.menuLeftGM1{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background: #BB7654;
    color: white;
    top: 0%;
    left: -26%;
    position: relative;
    width: 26%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Oswald';
    transition: 0.5s;
}
.menuLeftGM2{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
    background: #BB7654;
    color: white;
    top: -120%;
    left: 25%;
    position: absolute;
    width: 26%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Oswald';
    transition: 0.5s;
}
.menuLeftGuerreFroide{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
    background: #BB7654;
    color: white;
    top: -120%;
    left: 50%;
    position: absolute;
    width: 26%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Oswald';
    transition: 0.5s;
}
.menuLeft.active{
    left: 75%;
    transition: 0.8s;
}
.menuLeftGM1.active{
    left: 0%;
    transition: 0.8s;
}
.menuLeftGM2.active{
    top: 0%;
    transition: 1.5s;
}
.menuLeftGuerreFroide.active{
    top: 0%;
    transition: 1.5s;
}
.nav{
    cursor: pointer;
}
.test{
    position: absolute;
    width: 100%;
}