
  <div  class="left">
    <div class="content">
      <div class="title GM1">
          <h3>1 GM ></h3>
      </div>
      <div class="title GM2">
          <h3>2 GM ></h3>
      </div>
      <div class="title GuerreFroide">
          <h3>Guerre Froide ></h3>
      </div>
      <div class="title monde">
          <h3>Monde > </h3>
      </div>
     
    </div>
  </div>
<div class="test">
  <div class="menuLeftGM1">
    <div>
        <div class="nav">
            <h3>Grande Bataille</h3>
        </div>
        <div class="nav">
            <h3>Armes et véhicules</h3>
        </div>
        <div class="nav">
            <h3>Crime de Guerre</h3>
        </div>
    </div>
  </div>
  <div class="menuLeftGM2">
    <div>
        <div class="nav">
            <h3>Grande Bataille</h3>
        </div>
        <div class="nav">
            <h3>Armes et véhicules</h3>
        </div>
        <div class="nav">
            <h3>Résistances</h3>
        </div>
        <div class="nav">
            <h3>Propagande</h3>
        </div>
        <div class="nav">
            <h3>Crime de Guerre</h3>
        </div>
    </div>
  </div>
  <div class="menuLeftGuerreFroide">
    <div>
        <div class="nav">
            <h3>Grand Conflits</h3>
        </div>
        <div class="nav">
            <h3>Armes et véhicules</h3>
        </div>
        <div class="nav">
            <h3>Propagande</h3>
        </div>
        <div class="nav">
            <h3>Course Spatiale</h3>
        </div>
        <div class="nav">
            <h3>CIA vs KGB</h3>
        </div>
    </div>
  </div>
  <div class="menuLeft">
    <div>
      <div class="nav">
          <h3>Europe</h3>
      </div>
      <div class="nav">
          <h3>Asie</h3>
      </div>
      <div class="nav">
          <h3>Oceanie</h3>
      </div>
      <div class="nav">
          <h3>Orient</h3>
      </div>
      <div class="nav">
          <h3>Afrique</h3>
      </div>
      <div class="nav">
          <h3>Amérique du Nord</h3>
      </div>
      <div class="nav">
          <h3>Amérique du Sud</h3>
      </div>
      <!-- <div class="nav return">
          <h3>Retour</h3>
      </div> -->
      </div>
  </div>
</div>
  <div class="right"> 
    <app-article-view></app-article-view>
  </div>
  <section class="back"></section>
