<section class="back"></section>
<div class="remplissage">

<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="block">
    <div class="title"><h1>CONTACT</h1></div>

    <div class="text"><p>Pour toutes questions, demande d'information, ou que vous avez constaté une anomalie dans l'un de mes articles ( Dates erronées, Fausse info ...) n'hésitez pas à me contacter via ce formulaire.</p></div>

    <div class="forms">
        <input class="input" type="text" placeholder="Nom *" formControlName="name">
        <input id="email" class="input" type="email" placeholder="Email *" formControlName="email">
        <textarea class="textarea" placeholder="Message *" formControlName="message"></textarea>
        <div class="loi">
          * Champs Obligatoire. Voir les <a routerLink="../mention">Mention Légales</a>
        </div>

        <button class="boutton" type="submit" [disabled]="form.invalid">- Envoyer -
        </button>
    </div>
    <div *ngIf="submited" class="sucess"><h2>Message envoyé avec succés</h2></div>
  </div>
</form>

</div>
<app-footer></app-footer>