<div class="box">
  <div class="articleBox">
    <div class="img"><img src="../../assets/vignette/GM1GB/verdun.jpg" alt=""></div>
    <div class="textarticle">
      <div class="title"><h1>Bataille de Verdun</h1></div>
      <div class="resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptatum, ipsam temporibus blanditiis aut omnis consequatur. Voluptatibus repellendus culpa, beatae iusto earum iure obcaecati saepe? Id accusamus tenetur in impedit.</div>
      <div class="resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptatum, ipsam temporibus blanditiis aut omnis consequatur. Voluptatibus repellendus culpa, beatae iusto earum iure obcaecati saepe? Id accusamus tenetur in impedit.</div>
    </div>
  <div class="buttone"><i class="fas fa-play"></i></div>
  </div>
</div>