.back{
    min-height: 100vh;
    position: fixed;
    top: 0;
    background: url(../../assets/image-site/404error.jpg);
    background-size: cover;
    -webkit-animation: fondu 4s linear;
    animation: fondu 4s linear;
    width: 100%;
    z-index: -10;
  }

.content{
    color: white;
    height: 100vh;
    /* background-color:rgba(0, 0, 0, 0.50) ; */
}
.title{
    color: white;
    font-size: 4em;
    display: flex;
    justify-content: center;
}
.text{
    padding: 5%;
}