/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    overflow-x:hidden;
}
.remplissage{
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.video{
  z-index: -11;
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 150%;
  animation: fondu 3s linear;
}
.video.active{
  display: none;
  right: 0;
  bottom: 0;
}
@keyframes fondu{
    0%{
      opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
@media screen and
(max-width: 510px){
  .video{
    position: fixed;
  }
}