<!-- GM1 -->
<!-- GRANDE BATAILLE -->
<section class="GM1">
<section class="content GM1GB active">
  <div class="box">
    <div class="articleBox">
      <div class="img"><img src="../../assets/vignette/GM1GB/verdun.jpg" alt=""></div>
      <div class="textarticle">
        <div class="title"><h1>Bataille de Verdun</h1></div>
        <div class="resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptatum, ipsam temporibus blanditiis aut omnis consequatur. Voluptatibus repellendus culpa, beatae iusto earum iure obcaecati saepe? Id accusamus tenetur in impedit.</div>
        <div class="resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptatum, ipsam temporibus blanditiis aut omnis consequatur. Voluptatibus repellendus culpa, beatae iusto earum iure obcaecati saepe? Id accusamus tenetur in impedit.</div>
      </div>
    <div class="buttone"><i class="fas fa-play"></i></div>
    </div>
  </div>
</section>

<!-- ARMES ET VÉHICULES -->
<section class="content GM1WV">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- CRIME DE GUERRE -->
<section class="content GM1CG">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- HEROS DE GUERRE -->
<section class="content GM1HG">
    <app-aucunarticles></app-aucunarticles>

</section>
</section>
<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->


<!-- GM2  -->
<!-- GRANDE BATAILLE -->
<section class="GM2">
<section class="content GM2GB">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- ARMES ET VÉHICULES -->
<section class="content GM2WV">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- RÉSISTANCE -->
<section class="content GM2R">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- PROPAGANDES -->
<section class="content GM2P">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- CRIME DE GUERRE -->
<section class="content GM2CG">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- HEROS DE GUERRE -->
<section class="content GM2HG">
    <app-aucunarticles></app-aucunarticles>
</section>
</section>
<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->

<!-- GUERRE FROIDE -->
<section class="GF">
<!-- GRANDE BATAILLE -->
<section class="content GFGB">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- ARMES ET VÉHICULES -->
<section class="content GFWV">
    <app-aucunarticles></app-aucunarticles> 
</section>

<!-- COURSES SPATIAL -->
<section class="content GFCS">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- PROPAGANDES -->
<section class="content GFP">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- CIA vs KGB -->
<section class="content GFESP">
    <app-aucunarticles></app-aucunarticles>
</section>

</section>
<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->

<!-- MONDE -->
<section class="W">
<!-- EUROPE -->
<section class="content WEUR">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- ASIA-->
<section class="content WASIA">
    <app-aucunarticles></app-aucunarticles>
</section>

<!-- OCEANIA -->
<section class="content WOCE">
    <app-aucunarticles></app-aucunarticles>

</section>

<!-- ORIENT -->
<section class="content WORI">
    <app-aucunarticles></app-aucunarticles>

</section>

<!-- AFRIKA -->
<section class="content WAFRI">
    <app-aucunarticles></app-aucunarticles>

</section>

<!-- NORTH AMERIKA -->
<section class="content WUS">
    <app-aucunarticles></app-aucunarticles>

</section>

<!-- SOUTH AMERIKA -->
<section class="content WBRE">
    <app-aucunarticles></app-aucunarticles>

</section>
</section>