<!-- GM1 -->
<!-- GRANDE BATAILLE -->
<section class="GM1">
    <app-gm1></app-gm1>
</section>
<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->


<!-- GM2  -->
<!-- GRANDE BATAILLE -->
<section class="GM2">
    <app-gm2></app-gm2>
</section>
<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->

<!-- GUERRE FROIDE -->
<section class="GF">
    <app-gf></app-gf>
</section>
<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->

<!-- MONDE -->
<section class="W">
<app-world></app-world>
</section>