<!-- GM1 -->
<!-- GRANDE BATAILLE -->
<section class="GM1">
<section class="content GM1GB">
  <div class="box">
    <div class="articleBox">
      <div class="img">test</div>
      <div class="textarticle">
        <div class="title">bataille</div>
        <div class="resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptatum, ipsam temporibus blanditiis aut omnis consequatur. Voluptatibus repellendus culpa, beatae iusto earum iure obcaecati saepe? Id accusamus tenetur in impedit.</div>
        <div class="button"> > </div>
    </div>
    </div>
  </div>
</section>

<!-- ARMES ET VÉHICULES -->
<section class="content GM1WV">
    <div class="box">
        <div class="articleBox">
          <div class="img">test</div>
          <div class="textarticle">
            <div class="title">arme</div>
            <div class="resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptatum, ipsam temporibus blanditiis aut omnis consequatur. Voluptatibus repellendus culpa, beatae iusto earum iure obcaecati saepe? Id accusamus tenetur in impedit.</div>
            <div class="button"> > </div>
        </div>
        </div>
      </div>
</section>

<!-- CRIME DE GUERRE -->
<section class="content GM1CG">
    <div class="box">
        <div class="articleBox">
          <div class="img">test</div>
          <div class="textarticle">
            <div class="title">crime</div>
            <div class="resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptatum, ipsam temporibus blanditiis aut omnis consequatur. Voluptatibus repellendus culpa, beatae iusto earum iure obcaecati saepe? Id accusamus tenetur in impedit.</div>
            <div class="button"> > </div>
        </div>
        </div>
      </div>
</section>

<!-- HEROS DE GUERRE -->
<section class="content GM1HG">
    <div class="box">
        <div class="articleBox">
          <div class="img">test</div>
          <div class="textarticle">
            <div class="title">heros</div>
            <div class="resume">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptatum, ipsam temporibus blanditiis aut omnis consequatur. Voluptatibus repellendus culpa, beatae iusto earum iure obcaecati saepe? Id accusamus tenetur in impedit.</div>
            <div class="button"> > </div>
        </div>
        </div>
      </div>
</section>
</section>
<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->


<!-- GM2  -->
<!-- GRANDE BATAILLE -->
<section class="GM2">
<section class="content GM2GB">
jdj
</section>

<!-- ARMES ET VÉHICULES -->
<section class="content GM2WV">
yes
</section>

<!-- RÉSISTANCE -->
<section class="content GM2R">
test
</section>

<!-- PROPAGANDES -->
<section class="content GM2P">
 test
</section>

<!-- CRIME DE GUERRE -->
<section class="content GM2CG">
 test
</section>

<!-- HEROS DE GUERRE -->
<section class="content GM2HG">
test
</section>
</section>
<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->

<!-- GUERRE FROIDE -->
<!-- GRANDE BATAILLE -->
<section class="content GFGB">
  

</section>

<!-- ARMES ET VÉHICULES -->
<section class="content GFWV">
 
 
</section>

<!-- COURSES SPATIAL -->
<section class="content GFCS">
 
</section>

<!-- PROPAGANDES -->
<section class="content GFP">
  
</section>

<!-- CIA vs KGB -->
<section class="content GFESP">
  
</section>


<!-- ******************************************************** -->
<!-- ******************************************************** -->
<!-- ******************************************************** -->

<!-- MONDE -->
<!-- EUROPE -->
<section class="content WEUR">
 
</section>

<!-- ASIA-->
<section class="content WASIA">
 
</section>

<!-- OCEANIA -->
<section class="content WOCE">
  
</section>

<!-- ORIENT -->
<section class="content WORI">
  
</section>

<!-- AFRIKA -->
<section class="content WAFRI">
  
</section>

<!-- NORTH AMERIKA -->
<section class="content WUS">
  
</section>

<!-- SOUTH AMERIKA -->
<section class="content WBRE">
  
</section>