
<section class="back">
  <div class="slide1 test">
      <div class="citation">
      <div class="title slide1b">
          <h2>" La guerre, c'est le massacre de gens qui ne se connaissent pas, au profit de gens qui se connaissent et ne se massacrent pas. "</h2>
          <h3>- Paul Valéry -</h3>
        </div>
      </div>
  </div>
  <div class="slide2 test">
    <div class="citation">  
        <div class="title slide2b">
            <h2>" La guerre présente un triple avantage, de souder une conscience nationale et de développer des sentiments patriotiques, de faire oublier les problémes internes et les conflits de classe, et de permettre au marché de trouver de nouveau territoires pour écouler les produits. "</h2>
            <h3>- Howard Zinn -</h3>
        </div>
    </div>
  </div>
  <div class="slide3 test">
      <div class="citation">  
          <div class="title slide3b">
              <h2>" L'humanité devra mettre un terme à la guerre, ou la guerre mettra un terme à l'humanité. "</h2>
              <h3>- John Kennedy -</h3>
        </div>
      </div>
  </div>
  <div class="slide4 test">
      <div class="citation">  
          <div class="title slide4b">
              <h2>" La guerre présente un triple avantage, de souder une conscience nationale et de développer des sentiments patriotiques, de faire oublier les problémes internes et les conflits de classe, et de permettre au marché de trouver de nouveau territoires pour écouler les produits. "</h2>
              <h3>- Howard Zinn -</h3>
          </div>
      </div>
  </div>

    
   
    
  <div class="button">
      <div class="overlay">
          <h1 routerLink="../article">- VOIR LE SITE -</h1>
          </div>
  </div>  
</section>
