.back{
    min-height: 100vh;
    position: relative;
    animation: fondu 3s linear;
}

/* .slide1{
  background: url(../../assets/image-site/slider1.jpg);
  display: none;
  z-index: 4;
  left: -100%;
  animation: fondu 3s linear;
}
.slide1.active{
  display: block;
  opacity: 1;
  left: 0;
  animation: fondu 3s linear;
} */
/* 
.slide2{
  display: none;
  background: url(../../assets/image-site/slider2.jpg);
  z-index: 3;
  left: -100%;
  animation: fondu 3s linear;
}
.slide2.active{
  display: block;
  opacity: 1;
  left: 0;
  animation: fondu 3s linear;
}
.slide3{
  display: none;
  background: url(../../assets/image-site/slider3.jpg);
  z-index: 2;
  left: -100%;
  animation: fondu 3s linear;
}
.slide3.active{
  display: block;
  opacity: 1;
  left: 0;
  animation: fondu 3s linear;
}
.slide4{
  display: none;
  background: url(../../assets/image-site/slider4.jpg);
  z-index: 1;
  left: -100%;
  animation: fondu 3s linear;
}
.slide4.active{
  display: block;
  opacity: 1;
  left: 0;
  animation: fondu 3s linear;
} */
  .button{
    bottom: 10%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay h1 {
    color: white;
    padding: 16px;
    border-radius: 50px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
    font-size: 2em;
  }
  .overlay h1:last-child {
    background: #BB7654;
  }
  .overlay h1:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
  }
.citation{
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.title{
  color: white;
  font-family: "Oswald";
  width: 50%;
  padding: 16px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.65);
}

.test{
  width: 100%;
  background-size: cover;
}
.slide1b{
  display: none;
}
.slide1b.active{
  display: flex;
  animation: fondu 2s linear;
  flex-direction: column;
}
.slide2b{
  display: none;
}
.slide2b.active{
  display: flex;
  animation: fondu 2s linear;
  flex-direction: column;
}
.slide3b{
  display: none;
}
.slide3b.active{
  display: flex;
  animation: fondu 2s linear;
  flex-direction: column;
}
.slide4b{
  display: none;
}
.slide4b.active{
  display: flex;
  animation: fondu 2s linear;
  flex-direction: column;

}