<!-- EUROPE -->
<section class="content WEUR">
 <app-europa></app-europa>
</section>

<!-- ASIA-->
<section class="content WASIA">
  <app-asia></app-asia>
</section>

<!-- OCEANIA -->
<section class="content WOCE">
  <app-oceania></app-oceania>
</section>

<!-- ORIENT -->
<section class="content WORI">
  <app-orient></app-orient>

</section>

<!-- AFRIKA -->
<section class="content WAFRI">
  <app-afrika></app-afrika>

</section>

<!-- NORTH AMERIKA -->
<section class="content WUS">
  <app-amerika></app-amerika>

</section>

<!-- SOUTH AMERIKA -->
<section class="content WBRE">
  <app-samerika></app-samerika>

</section>